@model IEnumerable<WebApp.Models.NoteWithIDVM>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Encrypted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SharedPublically)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextShort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Encrypted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharedPublically)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextShort)
            </td>
            <td>
                @{
                    if (item.Encrypted)
                    {
                        @Html.ActionLink("Decrypt", "Decrypt", new { id = item.Id });
                    }
                    else
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id });
                        var pipe = " | ";
                        @pipe
                        @Html.ActionLink("Details", "Details", new { id = item.Id });
                    }
                }  |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>

    </tr>
}
    </tbody>
</table>
